.service-hero-section{
    
    background: linear-gradient(rgba(102, 130, 207, 0.797), rgba(102, 130, 207, 0.797)),url(../service/service-banner.jpg),50% 50%,no-repeat;
    background-size:cover;
}
.service-hero-article{
    display: grid;
    place-content: center center;
    height: 60vh;
    h2{
      font-size: 2.4rem;
      font-weight: 600;
      color: white;
      margin: 1rem 0;
    }
}
.finish-article2{
    margin: 2rem;
}